*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Segoe UI', sans-serif;
}

/* NAVBAR */

nav{
    display: flex;
    align-items: center;

    gap: 5%;
    padding: 0 100px;

    height: 70px;
    background-color: #6ae6ad;

    font-size: 20px;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 20px;
    width: 100%;

    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    color:#0A2342;
}

.nav-menu li .reg_btn{
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    padding:10px;
}
.home_logo{
    height: 40px;
}


/* SECTIONS */

.banner{
    height: 80vh;
    display: flex;
    
    justify-content: center;
    align-items:center
    

}

.parallax-image1{
    background: linear-gradient(180deg, #6AE6AD 0%, #E0F7F1 100%);
}




/* FOOTER */
footer {
  text-align: center;
  align-content: center;
  height: 100px;
  background-color: #6ae6ad;
  padding: 10px;
  color: black;
}

