*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: teal;
  color: white;

  height: 30px;
  width:30px;
  padding: 10px 10px;
  border-radius: 50%;

  text-decoration: none;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.3s ease, transform 0.3s ease;
}

.back-to-top:hover {
  background: #6AE6AD;
  transform: scale(1.15);
}



body{
    font-family:'Segoe UI', sans-serif;
}


.btn{
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    padding:10px 15px;

    text-decoration: none;
    color:#0A2342;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover{
    background: rgb(0, 60, 255);
    padding: 10px 20px;
    color:white;
}

.btn2{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    background-color: #6ae6ad;
    border-radius: 30px;
    padding:10px 15px;

    text-decoration: none;
    color:#0A2342;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn2:hover{
    background: rgb(0, 60, 255);
    padding: 10px 20px;
    color:white;
}

.btn3 {
    
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background:#6AE6AD;
    color: black;
    border-radius: 30px;

    text-decoration: none;
    font-weight: bold;

    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.3s ease-in-out;

  
}
.btn3:hover{
    background: rgb(0, 60, 255);
    padding: 10px 20px;
    color:white;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NAVBAR */
nav{
    display: flex;
    align-items: center;

    gap: 5%;
    padding: 0 100px;

    height: 70px;
    width: 100%;
    background-color: #6ae6ad;

    font-size: 20px;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 30px;
    width: 100%;

    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    color:#0A2342;
}

.home_logo{
    height: 40px;
}


/* SECTIONS */

.section-1{
    background: linear-gradient(180deg, #6AE6AD 0%, white 100%);
}

.banner{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner h1{
    font-size:60px;
}

.banner p, a{
    margin-top: 30px;
    
}

.section-2{
    background: white;
}

.about{
    height:50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     text-align: center;
}
.about h1{
    font-size:60px;
}

.about p, a{
    margin-top: 30px;
}

.section-3{
    background: linear-gradient(0deg, #6AE6AD 0%, white 100%);
}

.community{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 0;
     text-align: center;
}
.community h1{
    font-size:60px;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    margin: 0 50px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
}

.card:hover{
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    height: 500px;      
    object-fit: cover;   
    border-radius: 10px;
}

.section-4 {
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:40px;

    background: linear-gradient(180deg, #6AE6AD 0%, white 50%);
    padding: 50px 0;

    align-items: center;
}

.support{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.box1{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: flex-start;
}

.box1 h1{
    font-size:40px;
}

.box1 p{
    max-width: 500px;
}

.box2 img {
    width: 100%;
    max-width: 500px;
    height: 500px;      
    object-fit: cover;   
    border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  align-content: center;
  height: 100px;
  background-color: #6ae6ad;
  padding: 10px;
  color: black;
}

