*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: teal;
  color: white;

  height: 30px;
  width:30px;
  padding: 10px 10px;
  border-radius: 50%;

  text-decoration: none;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.3s ease, transform 0.3s ease;
}

.back-to-top:hover {
  background: #6AE6AD;
  transform: scale(1.15);
}



body{
    font-family:'Segoe UI', sans-serif;
}


.btn{
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    padding:10px 15px;

    text-decoration: none;
    color:#0A2342;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover{
    background: rgb(0, 60, 255);
    padding: 10px 20px;
    color:white;
}

.btn2{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    background-color: #6ae6ad;
    border-radius: 30px;
    padding:10px 15px;

    text-decoration: none;
    color:#0A2342;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn2:hover{
    background: rgb(0, 60, 255);
    padding: 10px 20px;
    color:white;
}

.btn3 {
    
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background:#6AE6AD;
    color: black;
    border-radius: 30px;

    text-decoration: none;
    font-weight: bold;

    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.3s ease-in-out;

  
}
.btn3:hover{
    background: rgb(0, 60, 255);
    padding: 10px 20px;
    color:white;
}

/* NAVBAR */
nav{
    display: flex;
    align-items: center;

    gap: 5%;
    padding: 0 100px;

    height: 70px;
    width: 100%;
    background-color: #6ae6ad;

    font-size: 20px;
}
.nav-shop{
    background-color: white;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 30px;
    width: 100%;

    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    color:#0A2342;
}

.home-logo{
    height: 40px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* FOOTER */
footer {
  text-align: center;
  align-content: center;
  height: 100px;
  background-color: #6ae6ad;
  padding: 10px;
  color: black;
}

