*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;

    background-image: url(images/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    height: 100vh;
}
.app-container{
    height: 100%;
    width: 50%;
    padding:100px;
    background-color: white;

    

}

.app-container img{
    height: auto;
    max-width: 200px;

    margin-bottom: 100px;

}

form{
    margin-top: 20px;
    width:100%;
}
input{
    font-family:'Segoe UI', sans-serif;
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    /* border:1px solid #ddd; */
    /* border-radius:12px; */
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    font-size:16px;
    outline:none;
    transition:border 0.3s;
}
input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #00c6ff;
}

.button{
    font-family:'Segoe UI', sans-serif;
    margin-top: 15px;
    background: #6ae6ad;
    border: none;
    border-radius:12px;
    color:black;
    font-size: 18px;
    cursor:pointer;
    transition: 0.3s;
    transform: 0.1s;
}

.button:hover{
    background: #00c6ff;
}

.button:active{
    transform: scale(0.97);
}

.sign-in{
    margin-top: 50px;
    color: black;
}

/* Styling for a link the user has visited */
.sign-in a:visited {
  color:cornflowerblue;
}